body{
    background-color: #efefef;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.main{
    background-color: white;
    margin:30px;
}
.text-index{
    font-size: 12px;
    font-weight: normal;
    color: #999;
 }
.media-object{
    width: 38px;
    height: 38px;
}
.jumbotron{
    margin: 50px;
    margin-left: 100px;
}