<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - 乌鸦社区</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/css/community.css">

    <script src="/js/jquery-3.3.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>

</head>
<body>
<div th:replace="~{navigationbar::topnavbar}"></div>
<div class="main">
    <div class="container-fluid main" >
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
                <hr>
                <form action="/publish" method="post">
                    <input type="hidden" name="id" th:value="${id}">
                    <div class="form-group">
                        <label for="title">问题标题（简单扼要）：</label>
                        <input type="text" class="form-control" name="title" id="title"
                               placeholder="问题标题..." th:value="${title}" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="description">问题描述（必填，请参照右侧提示）：</label>
                        <textarea th:text="${description}" class="form-control" name="description" id="description"
                                  cols="30" rows="10" autocomplete="off"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tag">添加标签：</label>
                        <input th:value="${tag}" type="text" class="form-control" id="tag" autocomplete="off"
                               name="tag" placeholder="输入标签，以，隔开" onclick="popupTag()">
                        <!--标签页-->
                        <div style="display: none" id="tag-list" class="tag-page">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" th:each="tagSection,tagSectionStat:${tags}"
                                    th:class="${tagSectionStat.first ? 'active':''}">
                                    <a th:href="${'#'+tagSection.categoryName}" aria-controls="home" role="tab" data-toggle="tab" th:text="${tagSection.categoryName}"></a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane" th:id="${tagSection.categoryName}" th:each="tagSection,tagSectionStat:${tags}"
                                     th:classappend="${tagSectionStat.first ? 'active':''}">
                                    <span class="label label-info tag-tab" th:each="tagSingle:${tagSection.tags}" onclick="selectTag(this)"
                                          th:data-tag="${tagSingle}">
                                        <span class="glyphicon glyphicon-tags"></span>
                                        <span th:text="${tagSingle}" style="margin-left: 5px"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span th:if="${error} ne null" class="alert alert-danger" th:text="${error}"></span>
                    <button type="submit" class="btn btn-success btn-publish">发布</button>
                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3>问题发起指南</h3>
                1、标题不能为空<br>
                2、描述不能为空 <br>
                3、标签不能为空<br>
            </div>
        </div>
    </div>
</div>

</body>
</html>